.SearchLocationBar {
    width: 100%;
    min-width: 0;
    margin-bottom: 2rem;
}

.searchContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--color-bg-1);
    border-radius: .5rem;
    max-height: calc(100vh - var(--margin) * 4);
    overflow: hidden;
    /* box-shadow: var(--shadow-1); */
}

.searchInput {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
    /* border-radius: 2rem; */
    height: 3rem;
    border: none;
    padding: 0 3rem;
    background-color: var(--color-bg-1);
    font-family: inherit;
    color: var(--color-text);
    font-size: 16px;
    transition: background .2s;
}

.searchInput:hover {
    background-color: var(--color-bg-2);
}

.searchInput:focus {
    outline: none;
}

.btnSearch, .btnClear, .btnBack {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    margin: .5rem;
    border-radius: 50%;
    background-color: transparent;
}

.btnClear:hover, .btnBack:hover {
    background-color: var(--color-bg-2);
}

.btnSearch {
    left: 0;
}

.btnBack {
    left: 0;
}

.btnClear {
    right: 0;
}
