.EyesOnStarCitizen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background: #000;
}

.EyesOnStarCitizen .fixed-search-bar {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  width: 20rem;
  z-index: 1000;
}

.EyesOnStarCitizen .search-card {
  position: fixed;
  top: 5rem;
  left: 1.5rem;
  bottom: 1rem;
  width: 20rem;
  height: max-content;
  max-height: calc(100% - 6rem);
  background-color: var(--color-bg);
  border-radius: .5rem;
  overflow: hidden auto;
  z-index: 1000;
}

.EyesOnStarCitizen .info-card {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24rem;
  padding: 1rem 0;
  background-color: var(--color-bg);
  overflow: hidden auto;
  z-index: 1000;
}