.EyesOnStarCitizen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background: #000;
}

.EyesOnStarCitizen .special-nav-bar {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.EyesOnStarCitizen .special-nav-bar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: .25rem;
}

.EyesOnStarCitizen .special-nav-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--color-text-1);
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

.EyesOnStarCitizen .special-nav-bar a:hover {
  color: var(--color-text);
}

.EyesOnStarCitizen .special-nav-bar a.active {
  color: var(--color-bg);
  background-color: var(--color-text);
}

@media (max-width: 719px) {
  .EyesOnStarCitizen .special-nav-bar {
    display: none;
  }
}

.EyesOnStarCitizen .fixed-search-bar {
  position: fixed;
  top: 1rem;
  left: 5rem;
  width: 20rem;
  z-index: 1000;
}

.EyesOnStarCitizen .fixed-search-bar input {
  background-color: var(--color-bg) !important;
}

@media (max-width: 719px) {
  .EyesOnStarCitizen .fixed-search-bar {
    width: unset;
    left: 1rem;
    right: 1rem;
  }
}

.EyesOnStarCitizen .search-card {
  position: fixed;
  top: 5rem;
  left: -22.5rem;
  bottom: 1rem;
  width: 20rem;
  height: max-content;
  max-height: calc(100% - 6rem);
  background-color: var(--color-bg);
  border-radius: .5rem;
  overflow: hidden auto;
  z-index: 1000;
}

.EyesOnStarCitizen .search-card.open {
  left: 5rem;
}


@media (max-width: 719px) {
  .EyesOnStarCitizen .search-card {
    width: unset;
    top: -100%;
    left: 1rem;
    right: 1rem;
    max-height: calc(100% - 24rem);
  }

  .EyesOnStarCitizen .search-card.open {
    top: 5rem;
    left: 1rem;
    right: 1rem;
  }
}

.EyesOnStarCitizen .info-card {
  position: fixed;
  top: calc(100% - 9rem);
  right: 0;
  bottom: 0;
  width: 24rem;
  padding-bottom: 1rem;
  background-color: var(--color-bg);
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  transition: top .2s ease-out, border .2s ease-out;
  z-index: 1000;
}

.EyesOnStarCitizen .info-card.open {
  top: 0;
  overflow: hidden auto;
  border-radius: 0;
}

@media (max-width: 719px) {
  .EyesOnStarCitizen .info-card {
    top: calc(100% - 14rem);
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 6rem;
  }

  .EyesOnStarCitizen .info-card.open {
    top: 1rem;
    overflow: hidden auto;
    border-radius: 1rem 1rem 0 0;
  }
}

.EyesOnStarCitizen .info-card .info-card-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-bg-2);
}

.EyesOnStarCitizen .info-card .info-card-toggle:hover {
  background-color: var(--color-bg-1);
}

.EyesOnStarCitizen .info-card .info-card-toggle>svg {
  transition: transform .5s ease-out;
}

.EyesOnStarCitizen .layers-setting {
  position: fixed;
  bottom: 1rem;
  right: 25rem;
  z-index: 999;
}

@media (max-width: 719px) {
  .EyesOnStarCitizen .layers-setting {
    right: 1rem;
    bottom: 15rem;
  }
}

.EyesOnStarCitizen .layers-setting-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: var(--color-bg);
  border-radius: 50%;
}

.EyesOnStarCitizen .layers-setting-panel {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  width: max-content;
  background-color: var(--color-bg);
  padding: .5rem;
  border-radius: .5rem;
}

.EyesOnStarCitizen .layers-setting-panel.open {
  display: flex;
}

.EyesOnStarCitizen .layers-setting-close {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
}

.EyesOnStarCitizen .layers-setting-panel label {
  cursor: pointer;
  width: max-content;
}

.EyesOnStarCitizen .layers-setting-panel label>input {
  margin-right: .5rem;
}