.TerminalInfo {
    padding: 0 1.5rem;
    position: relative;
}

.TerminalInfo .name h1 {
    overflow-wrap: anywhere;
}

.TerminalInfo .name h2 {
    color: var(--color-text-1);
    overflow-wrap: anywhere;
}

.TerminalInfo .type {
    color: var(--color-text-2);
}

.TerminalInfo .faction {
    color: var(--color-text-2);
}

.TerminalInfo .location-links {
    background-color: var(--color-bg-1);
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
}

.TerminalInfo .location-links>h4 {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.TerminalInfo .location-links ul {
    /* margin-top: .5rem; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: .5rem; */
}

@media screen and (max-width: 959px) {
    .TerminalInfo .location-links ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 639px) {
    .TerminalInfo .location-links ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.TerminalInfo .location-links ul {
    padding-left: 0;
    list-style: none;
}

.TerminalInfo .location-links li>a:hover {
    background-color: var(--color-bg-2);
}

.TerminalInfo hr {
    border: none;
    width: calc(100% - 2rem);
    height: 1px;
    margin: 1rem;
    background-color: var(--color-text);
    opacity: .5;
}

.TerminalInfo .nearby-terminals {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .5rem;
}

@media screen and (max-width: 959px) {
    .TerminalInfo .nearby-terminals {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 639px) {
    .TerminalInfo .nearby-terminals {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.TerminalInfo .nearby-terminals>button {
    text-align: start;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.TerminalInfo .search-and-list {
    margin-top: 1rem;
    background-color: var(--color-bg-1);
    border-radius: 1rem;
    overflow: hidden;
}

.TerminalInfo .searchbar-container {
    position: relative;
    height: 2.5rem;
    margin: .75rem 1rem;
    margin-bottom: .25rem;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.TerminalInfo .searchbar-container #searchbar {
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: .5rem;
    height: 2.5rem;
    border: none;
    padding: 0 2.5rem;
    background-color: var(--color-bg-2);
    font-family: inherit;
    color: var(--color-text);
    font-size: 1rem;
    transition: filter .2s;
}

.TerminalInfo .searchbar-container #searchbar:hover {
    filter: brightness(1.1);
}

.TerminalInfo .searchbar-container #searchbar:focus {
    outline: none;
}

.TerminalInfo .searchbar-container .icon-search {
    position: absolute;
    left: .5rem;
}

.TerminalInfo .searchbar-container .btn-clear {
    position: absolute;
    right: .25rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background .2s, filter .2s;
}

.TerminalInfo .searchbar-container .btn-clear:hover {
    filter: brightness(1.2);
    background-color: var(--color-bg-2);
}

.TerminalInfo .filters-for-sub-type {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.TerminalInfo .filters-for-sub-type>* {
    flex-shrink: 0;
}

.TerminalInfo .filters-for-sub-type>button {
    padding: 0 .5rem;
    border: 1px solid var(--color-text-2);
    border-radius: .25rem;
    background-color: transparent;
}

.TerminalInfo .filters-for-sub-type>button.active {
    color: #000;
    background-color: var(--color-text);
    box-shadow: 0 0 1rem 0 var(--color-text-1);
}


.TerminalInfo .list-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    text-align: start;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: background .2s;
}

.TerminalInfo .list-item:hover {
    background-color: var(--color-bg-2);
}

.TerminalInfo .list-item:focus,
.TerminalInfo .list-item:focus-visible {
    background-color: var(--color-bg-2);
    outline: none;
}

.TerminalInfo .list-item>* {
    flex-shrink: 0;
}

.TerminalInfo .list-item .names {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap: anywhere;
}

.TerminalInfo .list-item .en {
    color: var(--color-text-1);
    font-size: .8rem;
    font-weight: 400;
}

.TerminalInfo .list-item .type {
    font-size: .75rem;
    font-weight: 400;
    border: var(--color-text-1) solid 1px;
    border-radius: .5rem;
    width: max-content;
    overflow: hidden;
}

.TerminalInfo .list-item .type>p:first-child {
    padding: 0 .5rem;
    color: var(--color-bg);
    background-color: var(--color-text-1);
    font-weight: 700;
}

.TerminalInfo .list-item .type>p:last-child {
    padding: 0 .5rem;
    color: var(--color-text);
}

.TerminalInfo .list-item .size,
.TerminalInfo .list-item .class-grade,
.TerminalInfo .list-item .tracking-signal {
    font-family: var(--font-slim);
    font-variant-numeric: tabular-nums;
    line-height: 1;
    background-color: var(--color-bg-2);
    padding: .25rem;
    border-radius: .25rem;
}

.TerminalInfo .list-item .size {
    font-family: var(--font-slim);
    font-weight: 700;
}

.TerminalInfo .list-item .price {
    min-width: 5rem;
    text-align: end;
    color: hsl(200deg 60% 50%);
    font-family: var(--font-slim);
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}