.CelestialBodyCard {
    display: block;
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background .15s;
}

.CelestialBodyCard:hover {
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-bg-1);
}

.CelestialBodyCard .iconOrThumbnail {
    width: 2rem;
    height: 2rem;
    /* background-color: #fff; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex-shrink: 0;
}

.CelestialBodyCard .descrip {
    color: var(--color-text-1);
    font-size: .8rem;
}