.ItemInfo {
  padding: 1.5rem;
  padding-top: 6rem;
}

.ItemInfo .item-info {
  padding: 0 1rem;
}

.ItemInfo .en {
  color: var(--color-text-1);
}

.ItemInfo .types {
  display: flex;
  margin-top: .5rem;
  border-radius: 1rem;
  border: var(--color-text-1) solid 1px;
  width: max-content;
  overflow: hidden;
}

.ItemInfo .type {
  padding: 0 .5rem;
  color: var(--color-bg);
  background-color: var(--color-text-1);
  font-weight: 700;
}

.ItemInfo .subtype {
  padding: 0 .5rem;
  color: var(--color-text);
}

.ItemInfo hr {
  border: none;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 1rem 1rem;
  background-color: var(--color-text);
  opacity: .5;
}

.ItemInfo .trade-options-title {
  padding: 0 1rem;
  margin-bottom: .5rem;
}