.LocationCard {
    display: block;
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background .15s;
}

.LocationCard:hover {
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-bg-1);
}

.icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    color: #fff;
    background-color: #78909c;
    border-radius: .5rem;
    border: 2px solid #fff;
}

.descrip {
    color: var(--color-text-1);
    font-size: .8rem;
}

.descrip span {
    padding: 1px;
    margin-left: .25rem;
    border-radius: 100rem;
}

.descrip svg {
    vertical-align: text-top;
}

.quantumNotAvailable {
    color: hsl(25, 100%, 60%);
    background-color: hsla(25, 100%, 60%, .3);
}

.privateProperty {
    color: hsl(0, 100%, 65%);
    background-color: hsla(0, 100%, 65%, .3);
}