.SearchBar {
    width: 100%;
    padding: 0 1.5rem;
}

.SearchBar .search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-1);
    border-radius: .5rem;
    max-height: calc(100vh - var(--margin) * 4);
    overflow: hidden;
    /* box-shadow: var(--shadow-1); */
}

.SearchBar #searchbar {
    flex-shrink: 0;
    /* border-radius: 2rem; */
    height: 3rem;
    border: none;
    padding: 0 3rem;
    background-color: var(--color-bg-1);
    font-family: inherit;
    color: var(--color-text);
    font-size: 1rem;
    transition: background .2s;
}

.SearchBar #searchbar:hover {
    background-color: var(--color-bg-2);
}

.SearchBar #searchbar:focus {
    outline: none;
}

.SearchBar .btnSearch, .SearchBar .btnClear, .SearchBar .btnBack {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    margin: .5rem;
    border-radius: 50%;
    background-color: transparent;
}

.SearchBar .btnClear:hover, .SearchBar .btnBack:hover {
    background-color: var(--color-bg-2);
}

.SearchBar .btnSearch {
    left: 0;
}

.SearchBar .btnBack {
    left: 0;
}

.SearchBar .btnClear {
    right: 0;
}

.SearchBar .search-container>hr {
    flex-shrink: 0;
    border: none;
    width: calc(100% - 2rem);
    height: 1px;
    margin: 0 1rem;
    background-color: var(--color-text);
    opacity: .5;
}

.SearchBar .filters {
    padding: .5rem 0rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.SearchBar .filters.sub {
    background-color: var(--color-bg-2);
    margin: 0 0rem;
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .5rem;
    max-width: fit-content;
}

.SearchBar .filters>* {
    flex-shrink: 0;
}

.SearchBar .filters>button {
    padding: 0 .5rem;
    border: 1px solid var(--color-text-2);
    border-radius: .25rem;
    background-color: transparent;
}

.SearchBar .filters>button.active {
    color: #000;
    background-color: var(--color-text);
    box-shadow: 0 0 1rem 0 var(--color-text-1);
}

.SearchBar .filters.sub>button.active {
    box-shadow: 0 0 .5rem 0 var(--color-text-1);
}

.SearchBar .filters>hr {
    width: 1px;
    align-self: stretch;
    border: none;
    background-color: var(--color-text-1);
}

.SearchBar .total {
    padding: .5rem 0rem;
    padding-top: .5rem;
    font-family: var(--font-slim);
}

.SearchBar .btn-clear-recent {
    padding: 0 .5rem;
    color: var(--color-text-1);
    font-weight: 400;
    margin-left: .5rem;
    border-radius: .25rem;
}

.SearchBar .btn-clear-recent>svg {
    vertical-align: -0.125rem;
}