.SearchBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.SearchBar .search-bg {
    width: 100%;
    height: 100vh;
    background-color: #00000020;
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.SearchBar .search-super-container {
    position: fixed;
    max-width: calc(1280px - 3rem);
    top: 0;
    --margin: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: var(--margin);
    width: calc(100% - var(--margin) * 2);
}

.SearchBar .search-super-container>h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.SearchBar .search-super-container>h1>span {
    font-size: 1rem;
    color: #000;
    background-color: #ff8888;
    padding: 0 .25rem;
    margin-left: .5rem;
    border-radius: .25rem;
}

.SearchBar .search-super-container>p {
    text-align: center;
    opacity: .8;
}

.SearchBar .search-super-container p.small {
    font-size: .75rem;
    margin-bottom: 1rem;
    opacity: .5;
}

.SearchBar .search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-1);
    border-radius: 1.5rem;
    max-height: calc(100vh - var(--margin) * 4);
    overflow: hidden;
    box-shadow: var(--shadow-1);
}

.SearchBar #searchbar {
    flex-shrink: 0;
    /* border-radius: 2rem; */
    height: 3rem;
    border: none;
    padding: 0 3rem;
    background-color: var(--color-bg-1);
    font-family: inherit;
    color: var(--color-text);
    font-size: 1rem;
    transition: background .2s;
}

.SearchBar #searchbar:hover {
    background-color: var(--color-bg-2);
}

.SearchBar #searchbar:focus {
    outline: none;
}

.SearchBar .btnSearch, .SearchBar .btnClear, .SearchBar .btnBack {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    margin: .5rem;
    border-radius: 50%;
    background-color: transparent;
}

.SearchBar .btnClear:hover, .SearchBar .btnBack:hover {
    background-color: var(--color-bg-2);
}

.SearchBar .btnSearch {
    left: 0;
}

.SearchBar .btnBack {
    left: 0;
}

.SearchBar .btnClear {
    right: 0;
}

.SearchBar .search-container>hr {
    flex-shrink: 0;
    border: none;
    width: calc(100% - 2rem);
    height: 1px;
    margin: 0 1rem;
    background-color: var(--color-text);
    opacity: .5;
}

.SearchBar .total {
    padding: .5rem 1rem;
    font-family: var(--font-slim);
}