.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  z-index: 1000;
  backdrop-filter: blur(1rem) saturate(1.5);
}

.NavBar .nav-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  padding: 0rem 1.5rem;
  border-bottom: 1px solid var(--color-bg-2);
}

.NavBar .title {
  font-size: 2rem;
  line-height: 1;
  margin-right: 1rem;
}

.NavBar .links-container {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.NavBar .links-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--color-text-1);
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

.NavBar .links-container a:hover {
  color: var(--color-text);
}

.NavBar .links-container a.active {
  color: var(--color-bg);
  background-color: var(--color-text);
}

.NavBarBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-around;
  gap: .25rem;
  border-top: 1px solid var(--color-bg-2);
  z-index: 1000;
  backdrop-filter: blur(1rem) saturate(1.5);
}

.NavBarBottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--color-text-1);
  text-decoration: none;
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

.NavBarBottom a:hover {
  color: var(--color-text);
}

.NavBarBottom a.active {
  color: var(--color-bg);
  background-color: var(--color-text);
}

.NavBarBottom a>svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.NavBarBottom a>span {
  font-size: .75rem;
  height: 0rem;
  opacity: 0;
  transition: all .2s;
}

.NavBarBottom a.active>span {
  height: 1rem;
  opacity: 1;
}

@media (max-width: 719px) {
  .NavBar .links-container {
    display: none;
  }
  .NavBarBottom {
    display: flex;
  }
}