.SearchResultList {
    overflow: auto;
}

.SearchResultList .result-list-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    text-align: start;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: background .2s;
}

.SearchResultList .result-list-item:hover {
    background-color: var(--color-bg-2);
}

.SearchResultList .result-list-item:focus,
.SearchResultList .result-list-item:focus-visible {
    background-color: var(--color-bg-2);
    outline: none;
}

.SearchResultList .result-list-item:last-child {
    padding-bottom: 1rem;
}

.SearchResultList .result-list-item>* {
    flex-shrink: 0;
}

.SearchResultList .names {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap: anywhere;
}

.SearchResultList .en {
    color: var(--color-text-1);
    font-size: .8rem;
    font-weight: 400;
}

.SearchResultList .type {
    font-size: .75rem;
    font-weight: 400;
    border: var(--color-text-1) solid 1px;
    border-radius: .5rem;
    width: max-content;
    overflow: hidden;
}

.SearchResultList .type>p:first-child {
    padding: 0 .5rem;
    color: var(--color-bg);
    background-color: var(--color-text-1);
    font-weight: 700;
}

.SearchResultList .type>p:last-child {
    padding: 0 .5rem;
    color: var(--color-text);
}

.SearchResultList .price {
    color: hsl(200deg 60% 50%);
    font-family: var(--font-slim);
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}