.SearchVehicleResultList {}

.SearchVehicleResultList .favorite-vehicle-section {
    width: 100%;
    margin-bottom: 1rem;
}

.SearchVehicleResultList .favorite-vehicle-title {
    margin: 0 0 .75rem;
    color: var(--color-text-1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.SearchVehicleResultList .favorite-vehicle-list {
    padding-left: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.SearchVehicleResultList .vehicle-list-divider {
    width: 100%;
    height: 1px;
    margin: 2rem 0 2rem;
    background-color: var(--color-bg-2);
}

.SearchVehicleResultList .filters {
    padding: 0 0 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.SearchVehicleResultList .filters>* {
    flex-shrink: 0;
}

.SearchVehicleResultList .filters>button {
    display: inline-flex;
    align-items: center;
    min-height: 1.5rem;
    padding: 0 .5rem;
    border: 1px solid var(--color-text-2);
    border-radius: .25rem;
    background-color: transparent;
    line-height: 1.25rem;
}

.SearchVehicleResultList .filters>button.active {
    color: #000;
    background-color: var(--color-text);
    box-shadow: 0 0 1rem 0 var(--color-text-1);
}

.SearchVehicleResultList .vehicle-no-result {
    color: var(--color-text-1);
}

.SearchVehicleResultList .vehicle-group-list {
    padding-left: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.SearchVehicleResultList .vehicle-group {
    list-style: none;
    grid-column: 1 / -1;
    border: 2px solid var(--color-bg-2);
    border-radius: 1rem;
    padding: .75rem;
    width: calc(100% + 1.5rem);
}

.SearchVehicleResultList .vehicle-series-title {
    line-height: 1;
    margin-bottom: .5rem;
    text-align: center;
}

.SearchVehicleResultList .vehicle-list {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.SearchVehicleResultList .single-vehicle-item {
    list-style: none;
    width: 100%;
}

@media (max-width: 719px) {
    .SearchVehicleResultList .vehicle-group-list {
        grid-template-columns: 1fr;
    }

    .SearchVehicleResultList .favorite-vehicle-list {
        grid-template-columns: 1fr;
    }

    .SearchVehicleResultList .vehicle-list {
        grid-template-columns: 1fr;
    }
}
