.CelestialBody3D {
    --label-trans-duration: 0.15s;
}

.CelestialBody3D .location-label {
    transition: opacity var(--label-trans-duration);
}

.CelestialBody3D .location-label.occluded {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity var(--label-trans-duration),
        visibility 0s var(--label-trans-duration);
}

.CelestialBody3D .location-label .wrapper {
    cursor: pointer;
    user-select: none;
    transition: transform var(--label-trans-duration);
}

.CelestialBody3D .location-label .wrapper:hover {
    transform: scale(1.1);
}

.CelestialBody3D .location-label .icon {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    background-color: #78909c;
    border-radius: .4rem;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 1px 2px 0px #00000080;
    display: flex;
    place-items: center;
    transition: color .2s, border-color .2s, filter .2s;
}

.CelestialBody3D .location-label.night .icon {
    color: #222;
    border-color: #444;
    filter: brightness(1.2) saturate(0.8);
}

.CelestialBody3D .location-label .name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -130%);
    width: max-content;
    color: #fff;
    font-size: .75rem;
    font-family: var(--font-slim);
    line-height: 1;
    text-shadow:
        1px 1px 3px #000,
        1px -1px 3px #000,
        -1px -1px 3px #000,
        -1px 1px 3px #000;
    transition: color .2s;
}

.CelestialBody3D .location-label.night .name {
    color: #afbabf;
}

.CelestialBody3D .location-label.large .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.CelestialBody3D .location-label.large .name {
    font-size: 1rem;
    font-weight: 500;
}

.CelestialBody3D .orbital-marker-label {
    color: #808080;
    font-size: .75rem;
    font-family: var(--font-slim);
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
    user-select: none;
    transition: opacity var(--label-trans-duration);
}

.CelestialBody3D .orbital-marker-label.occluded {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity var(--label-trans-duration),
        visibility 0s var(--label-trans-duration);
}