.CelestialBodyInfo-map3d-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30rem;
    /* max-width: 30rem; */
    margin: 0 auto;
    margin-top: 6rem;
    filter: drop-shadow(0 0 1rem var(--body-theme-color));
    transition: filter 0.3s ease-in-out;
}

@media (max-width: 719px) {
  .CelestialBodyInfo-map3d-container {
    margin-top: 0;
  }
}

.CelestialBodyInfo-map3d-container.blurred {
    filter: drop-shadow(0 0 1rem var(--body-theme-color)) blur(1rem) brightness(0.8);
}

.CelestialBodyInfo {
    padding: 0 1.5rem;
    position: relative;
    pointer-events: none;
}

.CelestialBodyInfo>* {
    pointer-events: auto;
}

.CelestialBodyInfo .basic-info.load-map-3d {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30rem;
    pointer-events: none;
    filter: drop-shadow(0 0 .25rem var(--color-bg));
}

.CelestialBodyInfo .name h1 {
    overflow-wrap: anywhere;
}

.CelestialBodyInfo .name h2 {
    color: var(--color-text-1);
    overflow-wrap: anywhere;
}

.CelestialBodyInfo .type {
    color: var(--color-text-2);
}

.CelestialBodyInfo .location-links {
    background-color: var(--color-bg-2a);
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
}

.CelestialBodyInfo .location-links>h4 {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.CelestialBodyInfo .location-links ul {
    /* margin-top: .5rem; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: .5rem; */
}

@media screen and (max-width: 959px) {
    .CelestialBodyInfo .location-links ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 639px) {
    .CelestialBodyInfo .location-links ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.CelestialBodyInfo .location-links ul {
    padding-left: 0;
    list-style: none;
}

.CelestialBodyInfo .location-links li>a:hover {
    background-color: var(--color-bg-3a);
}