#root {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.TopFiller-when-narrow-and-searchbar {
    width: 100%;
    height: 3.5rem;
    display: none;
}

@media (max-width: 719px) {
  .TopFiller-when-narrow-and-searchbar {
    display: block;
  }
}