#root {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.app-title {
  position: fixed;
  text-align: center;
  top: 30%;
  width: 100%;
}
