.SetButton {
    display: flex;
    padding: .25rem .5rem;
    gap: .5rem;
    border-radius: .5rem;
}

.SetButton>.zh {
    flex-grow: 1;
    text-align: start;
    font-weight: 400;
}

.SetButton>.price {
    color: hsl(200deg 60% 50%);
    font-family: var(--font-slim);
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}